################################################################################
################################################################################
                            ## Configuration ##

################################################################################
################################################################################
Feb2018_MeetUp/Configuration/config.py
*.ini

################################################################################
################################################################################
                            ## Ipython & Python ##

################################################################################
################################################################################
*.DS_Store/
*.DS_Store
*.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc
*.pyo
__pycache__

################################################################################
################################################################################
                            ## Logging ##

################################################################################
################################################################################
*.log


################################################################################
################################################################################
                            ## Virtual Environments ##

################################################################################
################################################################################
venv-express/
