################################################################################
################################################################################
                            ## Configuration ##

################################################################################
################################################################################
Feb2018_MeetUp/Configuration/config.py
*.ini

################################################################################
################################################################################
                            ## Ipython & Python ##

################################################################################
################################################################################
.DS_Store
.ipynb_checkpoints/
*.pyc
*.pyo
__pycache__
*4-16-2019-brl1906-ernst-and-young

################################################################################
################################################################################
                            ## Logging ##

################################################################################
################################################################################
*.log


################################################################################
################################################################################
                            ## Virtual Environments ##

################################################################################
################################################################################
venv*/
